@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
  font-family: 'Do Hyeon', sans-serif;
  color: #848080;
}

body::after{
  content: "";
  display: block;
  position: fixed;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url('../Kanto_Pallet_Town_Map.png');
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

select {
  color: #848080;
}

button {
  background-color: lightblue;
  color: #848080;
  border: none;
}

.color-palette {
  display: flex;
  height: 30vh;
}

.color {
  display: block;
  width: 20vw;
  text-align: center;
  color: white;
}

.center {
  text-align: center;
}

.project-list article div {
  height: 10vh;
}
